.filter{
  font-weight: bolder;
  span{
    cursor: pointer;
    font-weight: bolder;
    &.selected{
      color: var(--hackerOrange);
    }
  }
  h4{
    margin-top: 0;
    margin-bottom: 10px;
  }
  &.footer{
    font-weight: initial;
    span{
      font-weight: initial;
    }
  }
}